@import '../../../../_variables';

.content {
  background-color: $detail-color;
  border-radius: 30px;
  transition: 0.4s transform;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;

  &__top, &__bottom {
    padding: 40px 55px;
    border-radius: 30px;
    background-color: $color-light-bg;
  }

  &__close {
    position: absolute;
    top: 27px;
    right: 39px;
    cursor: pointer;
  }

  &.isOpen {
    transform: scale(1);
  }

  &.isClosing {
    transform: scale(0.5);
  }

  &.isOpening {
    transform: scale(0.5);
  }
}


