@import '../../../../_variables';

.content {
  background-color: $color-light-bg;
  padding: 30px;
  border-radius: 30px;
  transition: 0.4s transform;
  transform: scale(0.5);
  width: 60%;
  position: relative;
  max-height: calc(100vh - 40px);
  overflow-x: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__close {
    position: absolute;
    top: 27px;
    right: 39px;
    cursor: pointer;
  }

  &.isOpen {
    transform: scale(1);
  }

  &.isClosing {
    transform: scale(0.5);
  }

  &.isOpening {
    transform: scale(0.5);
  }
}
