@import '../../_variables';

.select-list {
  display: flex;
  align-items: center;
  gap: 21px;
  flex-wrap: wrap;
  @media(max-width: $md5) {
    gap: 10px;
  }

  &__item {
    border: 1px solid $color-placeholder;
    border-radius: 9px;
    padding: 12px 22px;
    color: $color-dark-main;
    font-size: 16px;
    font-weight: 500;
    background-color: inherit;
    display: flex;
    align-items: center;
    gap: 14px;
    @media(max-width: $md5) {
      padding: 8px 15px;
    }

    &.selected {
      background-color: $neutral-color-hover;
    }
  }

  &__icon {
    width: 22px;
    height: 22px;

    & > * {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}