@import '../../_variables';

.app-checkbox {
  position: relative;
  color: $color-dark-secondary;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 28px;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__input + &__label::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid $color-dark-secondary;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 10px);
  }

  &__input:checked + &__label::before {
    border-radius: 3px;
    background-color: $color-accent-main;
    background-image: url("../../assets/checked.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5px;
    background-position: center;
  }
}